/****** FLAT DESIGN COLORS ******

TURQUOISE (LIGHT AQUA)        #1abc9c
GREEN SEA (DARK AQUA)         #16a085
EMERALD (LIGHT GREEN)         #2ecc71
NEPHRITIS (DARK GREEN)        #27ae60
PETER RIVER (LIGHT BLUE)      #3498db
BELIZE HOLE (DARK BLUE)       #2980b9
AMETHYST (LIGHT PURPLE)       #9b59b6
WISTERIA (DARK PURPLE)        #8e44ad
WET ASPHALT (DARK GRAY)       #34495e
MIDNIGHT BLUE (DARKER GRAY)   #2c3e50
SUN FLOWER (YELLOW)           #f1c40f
ORANGE (LIGHT ORANGE)         #f39c12
CARROT (DARK ORANGE)          #e67e22
PUMPKIN (DARKER ORANGE)       #d35400
ALIZARIN (LIGHT RED)          #e74c3c
POMEGRANATE (DARK RED)        #c0392b
CLOUDS (OFF WHITE)            #ecf0f1
SILVER (LIGHTER GRAY)         #bdc3c7
CONCRETE (LIGHT GRAY)         #95a5a6
ASBESTOS (MEDIUM GRAY)        #7f8c8d

******/

/****** GENERAL STYLES ******/

.toplevel_page_iprm_main_page div#wpwrap, 
.podcast-reviews_page_iprm_premium_page div#wpwrap, 
.podcast-reviews_page_iprm_settings_page div#wpwrap {
	background: #34495e;
	color: #333;
	font-size: 0.9rem;
}
.toplevel_page_iprm_main_page div#wpcontent, 
.podcast-reviews_page_iprm_premium_page div#wpcontent. 
.podcast-reviews_page_iprm_settings_page div#wpcontent {
    padding-left: 0;
}
.iprm {
	background: #34495e;
	padding: 1rem;
	width: 1200px;
}
.iprm, 
.iprm p {
	font-size: 100%;
	letter-spacing: 0.02rem;
	line-height: 1.6;
	margin: 0 0 1rem 0;
}

/****** NOTICES ******/

.iprm-alert, 
.iprm-notice {
	color: #fff;
	padding: 1rem;
}
.iprm-alert {
	background: #e74c3c;
}
.iprm-notice {
	background: #e67e22;
}

/****** NAVIGATION ******/

.iprm-navigation {
	margin: 2rem 0 3rem 0;
}
.iprm-navigation a.dashicons-before {
	color: #fff;
	padding: 1rem 0.8rem 1.2rem 0.6rem;
}
.iprm-navigation a.dashicons-before.current-page, 
.iprm-navigation a.dashicons-before.current-page::before, 
.iprm-navigation a.dashicons-before:hover {
	background: #2980b9;
}
.iprm-navigation a.dashicons-before::before {
	font-size: 2.0rem;
	height: 2.0rem;
	width: 2.0rem;
}

/****** OTHER ******/

p.submit {
	padding: 0;
}
.iprm input {
	background: #ecf0f1;
	border: none;
	box-shadow: none;
	padding: 0.5rem;
}
.iprm input[type="submit"] {
	border: none;
	border-radius: 0;
	color: #fff !important;
	font-size: 1.2rem;
	height: inherit;
	line-height: 1.6;
	padding: 0.5rem 1rem;
	width: 100%;
}
.iprm input[type="submit"].button-primary {
	background: #3498db;
}
.iprm input[type="submit"].button-primary:hover {
	background: #2980b9;
}
.iprm input[type="submit"].button-secondary {
	background: #bdc3c7;
}
.iprm input[type="submit"].button-secondary:hover {
	background: #95a5a6;
}
.iprm a {
	border: none !important;
	text-decoration: none;
}

/****** ICONS ******/

.iprm a span.dashicons, 
.iprm a::before {
	text-decoration: none;
	vertical-align: middle;
}
.iprm .iprm-sort-text {
	display: inline-block;
	vertical-align: middle;
}
.iprm .iprm-sort-icon {
	display: inline-block;
	vertical-align: middle;
}
.iprm .iprm-sort-icon a span.dashicons {
	color: #fff;
	font-size: 1.6rem;
	height: 1.6rem;
	width: 1.6rem;
}
.iprm .iprm-sort-icon a:hover span.dashicons {
	color: #333;
}

/****** TABLES ******/

.iprm table {
	border-spacing: 0;
	margin-bottom: 2rem;
	width: 100%;
}
.iprm th, 
.iprm td {
	border: 0;
	padding: 1rem;
}
.iprm th {
	background: #27ae60;
	color: #fff;
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
.iprm th.iprm-sort {
	text-align: right;
}
.iprm th.iprm-alt {
	background: #2ecc71;
}
.iprm th h2 {
	color: #fff;
	font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: inherit;
    padding: 0;
}
.iprm tr:nth-child(even) td {
    background: #fff;
}
.iprm td {
	background: #ecf0f1;
	vertical-align: top;
}
.iprm td.flag {
	padding-top: 0.5rem;
}

/****** RESPONSIVE ******/

@media only screen and (max-width: 767px) {
	.iprm th, 
	.iprm td {
		/*display: block;
		white-space: normal;
		width: 100%;/**/
	}
}