/****** FLAT DESIGN COLORS ******

TURQUOISE (LIGHT AQUA)        #1ABC9C
GREEN SEA (DARK AQUA)         #16A085
EMERALD (LIGHT GREEN)         #2ECC71
NEPHRITIS (DARK GREEN)        #27AE60
PETER RIVER (LIGHT BLUE)      #3498DB
BELIZE HOLE (DARK BLUE)       #2980B9
AMETHYST (LIGHT PURPLE)       #9B59B6
WISTERIA (DARK PURPLE)        #8E44AD
WET ASPHALT (DARK GRAY)       #34495E
MIDNIGHT BLUE (DARKER GRAY)   #2C3E50
SUN FLOWER (YELLOW)           #F1C40F
ORANGE (LIGHT ORANGE)         #F39C12
CARROT (DARK ORANGE)          #E67E22
PUMPKIN (DARKER ORANGE)       #D35400
ALIZARIN (LIGHT RED)          #E74C3C
POMEGRANATE (DARK RED)        #C0392B
CLOUDS (OFF WHITE)            #ECF0F1
SILVER (LIGHTER GRAY)         #BDC3C7
CONCRETE (LIGHT GRAY)         #95A5A6
ASBESTOS (MEDIUM GRAY)        #7F8C8D

******/

/****** GENERAL STYLES ******/

body.toplevel_page_iprm_main_page div#wpwrap, 
body.podcast-reviews_page_iprm_premium_page div#wpwrap, 
body.podcast-reviews_page_iprm_settings_page div#wpwrap {
	background: #34495E;
	color: #333;
}
body.toplevel_page_iprm_main_page div#wpcontent, 
body.podcast-reviews_page_iprm_premium_page div#wpcontent. 
body.podcast-reviews_page_iprm_settings_page div#wpcontent {
    padding-left: 0;
}
div.iprm {
	max-width: 1200px;
	padding: 1rem;
}
div.iprm, div.iprm p {
	font-size: 0.9rem;
	letter-spacing: 0.02rem;
	line-height: 1.6;
	margin: 0 0 1rem 0;
}

/****** NAVIGATION ******/

div.iprm div.iprm-navigation {
	margin: 2rem 0 3rem 0;
}
div.iprm div.iprm-navigation a.dashicons-before {
	border: 0.1rem solid #FFF;
	color: #FFF;
	padding: 1rem 0.8rem 1.2rem 0.6rem;
}
div.iprm div.iprm-navigation a.dashicons-before.current-page, 
div.iprm div.iprm-navigation a.dashicons-before.current-page::before, 
div.iprm div.iprm-navigation a.dashicons-before:hover {
	background: #2980B9;
}
div.iprm div.iprm-navigation a.dashicons-before::before {
	font-size: 2.0rem;
	height: 2.0rem;
	width: 2.0rem;
}

/****** OTHER ******/

div.iprm input {
	background: #ECF0F1;
	border: none;
	box-shadow: none;
	padding: 0.5rem;
}
div.iprm input[type="submit"] {
	border: none;
	border-radius: 0;
	font-size: 1.2rem;
	height: inherit;
	line-height: 1.6;
	padding: 0.5rem 1rem;
	width: 100%;
}
div.iprm a {
	text-decoration: none;
}

/****** ICONS ******/

div.iprm a span.dashicons, div.iprm a::before {
	text-decoration: none;
	vertical-align: middle;
}
div.iprm div.iprm-sort-text {
	display: inline-block;
	vertical-align: middle;
}
div.iprm div.iprm-sort-icon {
	display: inline-block;
	vertical-align: middle;
}
div.iprm div.iprm-sort-icon a span.dashicons {
	color: #FFFFFF;
	font-size: 1.6rem;
	height: 1.6rem;
	width: 1.6rem;
}
div.iprm div.iprm-sort-icon a:hover span.dashicons {
	color: #333333;
}

/****** TABLES ******/

div.iprm table {
	border-spacing: 0;
	margin-bottom: 2rem;
	width: 100%;
}
div.iprm table th {
	background: #27AE60;
	color: #FFF;
	font-weight: normal;
	padding: 1rem;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
div.iprm table th.iprm-sort {
	text-align: right;
}
div.iprm table th.iprm-alt {
	background: #2ECC71;
}
div.iprm table th h2 {
	color: #FFF;
	font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: inherit;
    padding: 0;
}
div.iprm table tr:nth-child(even) td {
    background: #FFF;
}
div.iprm table td {
	background: #ECF0F1;
	padding: 1rem;
	vertical-align: top;
}

/****** RESPONSIVE ******/

@media only screen and (max-width: 767px) {
	div.iprm table th, div.iprm table td {
		/*display: block;
		white-space: normal;
		width: 100%;/**/
	}
}